<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap" rel="stylesheet">

         <!-- https://favicon.io/emoji-favicons/partying-face/ -->
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/8d04abe89c.js"></script>

        <title>Cod Zone: {% block title %}{% endblock %}</title>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% if session.multiplayer %}
            <a class="navbar-brand" href="/"><span class="orange">COD</span> <span class="black">ZONE</span></a>
            <a class="navbar-brand" href="/warzone"><span class="orange">War</span> <span class="black">Zone</span></a>

            {% elif session.warzone %}
            <a class="navbar-brand" href="/"><span class="orange">COD</span> <span class="black">ZONE</span></a>
            <a class="navbar-brand" href="/multiplayer"><span class="orange">Multi</span><span class="black">Player</span></a>

            {% else %}
              <a class="navbar-brand" href="/"><span class="orange">COD</span> <span class="black">ZONE</span></a>
            {% endif %}
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>

    </body>
</html>